{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{movie.img.url}}" width="250" height="250">
        </div>
<div class="col-md-8">
    <h3>{{movie.name}}</h3>
    <h5>{{movie.desc}}<h5><br>
    <h5>{{movie.year}}</h5><br>
    <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">update</a><br>
    <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">delete</a><br>
</div>


    </div>
</div>
{% endblock %}